.hero{
    margin: 0px 120px;
    margin-top: 80px;
}
.hero-text{
    color: #fff;
    font-size: 60px;
    font-weight: 500;
    line-height: 60px;
}
.hero-explore{
    display: flex;
    align-items: center;
    gap: 30px;
    width: fit-content;
    margin-top: 70px;
    padding: 5px 8px;
    padding-left: 10px;
    border-radius: 60px;
    cursor: pointer;
    background-color: #fff;
}
.hero-explore img{
    width: 50px;
}
.hero-explore p{
    color: #292929;
    font-size: 20px;
    font-weight: 500;
}
.hero-dot-play{
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
}
.hero-dots{
    display: flex;
    align-items: center;
    gap: 23px;
    list-style: none;
}
.hero-dot{
    width: 15px;
    height: 15px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 7.5px;
}
.hero-dot.orange{
    background-color: orangered;
}
.hero-play{
    display: flex;
    align-items: center;
    gap: 30px;
}
.hero-play p{
    color: #fff;
    font-size: 19px;
}
.hero-play img{
    cursor: pointer;
    width: 50px;
    margin-bottom: 12px;
}


/* Medium screens (tablets) */
@media (max-width: 768px) {
    .hero {
        margin: 0px 60px;
        margin-top: 60px;
    }
    .hero-text {
        font-size: 50px;
        line-height: 55px;
    }
    .hero-explore {
        margin-top: 50px;
        padding: 4px 6px;
        padding-left: 8px;
        gap: 20px;
    }
    .hero-explore img {
        width: 40px;
    }
    .hero-explore p {
        font-size: 18px;
    }
    .hero-dot-play {
        margin-top: 100px;
    }
    .hero-dots {
        gap: 18px;
    }
    .hero-dot {
        width: 12px;
        height: 12px;
        border-radius: 6px;
    }
    .hero-play {
        gap: 20px;
    }
    .hero-play p {
        font-size: 17px;
    }
    .hero-play img {
        margin-top: 10px;
        width: 40px;
    }
}

/* Small screens (mobile) */
@media (max-width: 480px) {
    .hero {
        margin: 0px 20px;
        margin-top: 40px;
    }
    .hero-text {
        font-size: 40px;
        line-height: 45px;
    }
    .hero-explore{
        align-items: flex-start;
        margin-top: 40px;
        padding: 10px 25px;
        padding-left: 8px;
        gap: 15px;
    }
    .hero-explore img {
        width: 30px;
    }
    .hero-explore p {
        font-size: 16px;
    }
    .hero-dot-play {
        margin-top: 80px;
        flex-direction: column;
        align-items: flex-start;
    }
    .hero-dots {
        gap: 15px;
    }
    .hero-dot {
        width: 10px;
        height: 10px;
        border-radius: 5px;
    }
    .hero-play {
        gap: 15px;
    }
    .hero-play p {
        font-size: 15px;
    }
    .hero-play img {
        margin-top: 10px;
        width: 30px;
    }
}