.background{
    width: 100%;
    height: 100%;
    float: left;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: none;
    position: fixed;
    object-fit: cover;
    z-index: -1;
}
@keyframes fade-in{
    from{opacity: 0;}
    to{opacity: 1;}
}
.fade-in{
    animation: fade-in 50ms ease-in-out;
}

 /* Media Queries for responsiveness */

 /* Medium screens (tablets) */
@media (max-width: 768px) {
    .background {
        background-size: cover;
    }
}

 /* Small screens (mobile) */
@media (max-width: 480px) {
    .background {
        background-size: cover;
    }
}
